.container{
    width: 50%;
    margin: auto;
}
header{
    background-color: tomato;
    padding: 2rem;
    flex-direction: row;
    display: flex;
    justify-content: space-between;
    flex-wrap:wrap;
}
section{
    height: 50vh;
    display: flex;
    flex-wrap: wrap;
}
main{
    background-color: yellow;
    flex: 4;
    display: flex;
    gap: 10px;
    padding: 10px;
}
aside{
    background-color: rgb(210, 203, 203);
    flex: 1;
    gap: 30px;
}
footer{
    background-color: rgb(86, 80, 80);
    padding: 2rem;
    flex-wrap: wrap;
}
header div{
    padding: 1.5rem;
    background-color: rgb(139, 133, 133);
}


/*section  main kısmı  */


 section main div:nth-child(1){
    padding: 1rem;
    background-color: pink;
   
    flex: 3;
    height: 5rem;

 }
 section main div:nth-child(2){
    flex: 2;
    margin: 10px;
 }

 /* section aside kısmı */


 section aside div{
    padding: 1rem;
    background-color: rgb(62, 55, 55);
   margin: 10px;
   justify-content: space-between;
    
 }
 section aside div:nth-child(1){
    flex: 1;
 }
 section aside div:nth-child(2){
    flex: 1;
 }


 /* footer part */

footer{
    display: flex;
    justify-content: space-between;

}
footer div{
    background-color: cadetblue;
    padding: 2rem;
   
 
}
